In [1]:
# print a message
print("Hello World")

Hello World

In [2]:
# Variables
name = "Alice"
age = 25
height = 5.6
is_student = True

# Print types
print(type(name))   # <class 'str'>
print(type(age))    # <class 'int'>
print(type(height)) # <class 'float'>
print(type(is_student))  # <class 'bool'>

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [3]:
name = input("Enter your name: ")
print("Hello, " + name + "!")

# using f-string
print(f"Hello, {name}")

Enter your name:  Riyan

Hello, Riyan!
Hello, Riyan

In [5]:
age = int(input("Enter your age: "))
height = float(input("Enter your height: "))


print("Age:", age)
print("Height:", height)

Enter your age:  19
Enter your height:  180.5

Age: 19
Height: 180.5

In [9]:
# Arithmetic operator
a = 10
b = 3
print(a + b, a - b, a * b, a / b, a % b, a ** b, a // b)

13 7 30 3.3333333333333335 1 1000 3

In [7]:
# Comparison operator
print(a == b, a != b, a > b, a < b, a >= b, a <= b)

False True True False True False

In [8]:
# Logical operator
print(a > 5 and b < 5)
print(not(a < 5))

True
True

In [12]:
age = int(input("Enter your age: "))
if age >= 18:
    print("You are an adult.")
elif age > 13:
    print("You are a teenager.")
else:
    print("You are a child.")

Enter your age:  15

You are a teenager.

In [14]:
# While Loop
count = 0
while count < 5:
    print("Count is:", count)
    count += 1

Count is: 0
Count is: 1
Count is: 2
Count is: 3
Count is: 4

In [15]:
# For Loop
for i in range(5):
    print("i =", i)

i = 0
i = 1
i = 2
i = 3
i = 4

In [16]:
def greet(name):
    print("Hello,", name)

greet("Alice")

Hello, Alice

In [17]:
# Return values
def add(x, y):
    return x + y

print(add(5, 3))

8

In [18]:
# string manipulation
s = "Hello, World!"

print(s.lower())
print(s.upper())
print(s.replace("World", "Python"))
print(s[0:5])  # Slicing

hello, world!
HELLO, WORLD!
Hello, Python!
Hello

In [19]:
try:
    x = int(input("Enter a number: "))
    print(10 / x)
except ZeroDivisionError:
    print("Cannot divide by zero.")
except ValueError:
    print("Invalid input.")

Enter a number:  0

Cannot divide by zero.

In [22]:
try:
    age = int(input("Enter you age: "))
    print(age)
except Exception as e:
    print(e)

Enter you age:  abcd

invalid literal for int() with base 10: 'abcd'

In [ ]:
# lambda functions
add = lambda x, y: x + y
print(add(5, 3))